

h1 {
    font-family: 'Bungee', cursive;
    font-size: 110px;
    text-align: center;
    margin: 50px 0px;
}

h2 {
    font-family: 'Bungee', cursive;
	text-align: center;
	margin: 0px 0px 20px;
}

h3 {
    font-family: 'Bungee', cursive;
    text-align: center;
    margin-bottom: 40px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /*margin-bottom: 40px;*/
    font-weight: 300;
}

p {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.add-burger {
	width: 50%;
    text-align: center;
    margin: 40px auto 40px;
}

#new_burger_btn {
    background-color: #ffb555;
    margin-top: 10px;
    border: none;
    border-radius: unset;
}

#new_burger_btn:hover {
    color: #fff;
    background-color: #ae1c13;
}

#new_burger {
    text-align: center;
    box-shadow: none;
    border: 0px;
    background-color: rgb(255, 236, 210);
    /*color: white;*/
}

#new_burger:active, #new_burger:focus {
    background-color: white;
}


.burgerman {
    width: 340px;
    height: auto;
    position: relative;
    display: block;
    float: none;
    left: 37vw;
}

button {
	font-family: 'Montserrat', sans-serif;
	border: none;
    background-color: #ffac13;
}

input {
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: #ffac13;
    color: red; 
    background-color: rgba(255, 181, 85, 0.5);
}

/**::-webkit-input-placeholder {
    color: red;
}
*:-moz-placeholder {
    color: red;
}
*::-moz-placeholder {
    color: red;
}
*:-ms-input-placeholder {
    color: red;
}*/

/*input[type="text"],textarea[type="text"]::-webkit-input-placeholder {
    color: white;
}

input[type="text"],textarea[type="text"]:-moz-placeholder {
    color: white;
}
input[type="text"],textarea[type="text"]::-moz-placeholder {
    color: white;
}

input[type="text"],textarea[type="text"]:-ms-input-placeholder {
    color: white;
}*/

/*input:placeholder-shown {
    color: white;
}

input::placeholder {
    color: white;
}

input::-webkit-input-placeholder {
    color: white;
}

input:-moz-placeholder {
    color: white;
}

input::-moz-placeholder {
    color: white;
}

input:-ms-input-placeholder {
    color: white;
}*/

button #devour-btn {
    margin: 5px;
}

button #devour-btn:hover {
    color: #fff;
    background-color: #ae1c13;
}

#devoured-burgers {
	border-radius: unset;
	border: 0px;
	box-shadow: none;
    background-color: #ffac13;
}

.form-control {
	border-radius: unset;
	/*border: 0px;*/
	box-shadow: none;
}

.dev-burger-list {
    padding: 10px;
    margin: 0px 7% 0 3%;
    text-align: center;
    box-shadow: 0px 0px 15px 0px #e07a04;
    width: 40%;
    background-color: white;
    margin-bottom: 30px;
    background-color: #ffac13;
}

.burger-list {
    padding: 10px;
    margin: 0 3% 0 7%;
    text-align: center;
    box-shadow: 0px 0px 15px 0px #e07a04;
    width: 40%;
    background-color: white;
    background-color: #ffac13;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    text-align: left;
    padding: 17px;
    background-color: #ff9900;
    /*margin-top: 110px;*/
    /*border-top: 1px solid gainsboro;*/
    font-size: 12px;
    color: rgba(255, 255, 255, 0.54);
}

.btn-primary {
    color: #3e3e3e;
    background-color: rgba(255, 181, 85, 0.72);
    /* border-color: #2e6da4; */
    border: none; 
    border-radius: 0px;
    margin: 5px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ae1c13;
    /* border-color: #204d74; */
}

.add-form {
    text-align: center;
    border: 0px;
    box-shadow: none;
}

.add-bg {
    background-color: orange;
    padding: 10px;
}

.container {
    background-color: pink;
    margin: 0px;
    width: 100%;
    padding: 0px;
    background: whitesmoke;
    background: -webkit-linear-gradient(orange, #ff9900));
    background: -o-linear-gradient(orange, #ff9900));
    background: -moz-linear-gradient(orange, #ff9900));
    background: linear-gradient(orange, #ff9900);
}

.container .row {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

@media only screen and (max-width: 768px) { 
    .dev-burger-list {
        width: 70%;
        margin: 0px 15%;
        margin-top: 30px;
    }

    .burger-list {
        width: 70%;
        margin: 0px 15%;
    }   

    .burgerman {
        left: 20vw;
    }  

    .container .burger-results {
        padding-top: 20px;
    }

    h1 {
        font-size: 64px;
    }

    .add-burger {
        width: 90%;
        text-align: center;
        margin: 40px auto 40px;
}
}


@media only screen and (max-width: 386px) { 
    .burgerman {
        left: 10vw;
    }
}













